
body {

}

h1{
  font-size: 55px;
  text-align: center;
  font-family: Georgia, sans-serif, bold;
}

p {
  font-family: Georgia, sans-serif;
  text-align: left;
}


div {
padding: 25px 50px 75px 100px;
}

.byline{
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
}

.dateline {
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
}

.center {
    text-align: center;
    align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.link { color: #0000FF; } /* CSS link color (blue) */
.link:hover { color: #000000; } /* CSS link hover (grey) */
