
body {
  padding: 50px 100px;
  color: black;
  text-align: center;
}

h1{
  font-size: 75px;
}

article{
  max-width: inherit;
}

.byline{
  text-align: center;
  font-family: Arial;
  font-size: 25px;
}

.dateline {
  text-align: center;
  font-family: Arial;
  font-size: 25px;
}

figure{
    font-style: italic;
    font-size: 15px;
    text-align: center;
  }

p{
  text-align: left
}
