body {
padding: 20px 120px;
}

h1 {
  text-align: center;
  font-family: Georgia;
  font-size: 105px;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: inherit;
}

img {
  align: center;
}

p {
  font-family: Georgia;
  text-align: left;
}

.byline {
  text-align: center;
  font-family: Georgia;
}

.dateline {
  text-align: center;
}

.center {
    text-align: center;
    align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.link { color: #0000FF; } /* CSS link color (blue) */
.link:hover { color: #000000; } /* CSS link hover (grey) */
}
