body {
  font-family: 'Ubuntu', sans-serif;
  padding: 20px 20px 0px 20px;
}

.coverphoto {
  max-width: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: white;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


.otherphotos {
  max-width: 500px;
}

.center{
  text-align: center;
}

div {
  display: inline-block;
  align-items: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  align: center;
}


h2 {
  font-size: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  color: grey;
  font-weight: normal;
}

p {
  text-align: left;
  font-size: 20px;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

figcaption p {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.byline {
  text-align: center;
  font-size: 20px;
  color: black;
}

.dateline {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

.link { color: #blue } /* CSS link color (blue) */
.link:hover { color: #blue; } /* CSS link hover (blue) */
}
