body {
  font-family: 'Ubuntu', sans-serif;
  padding: 30px;
  background-color: white;
}

div {
  font-size: 15px;
  padding-bottom: 15px;
  display: block;
  align: center;
}

.username {
  font-weight: bold;
  padding-bottom: 0px;
  font-size: 25px;
}

.location {
  padding-top: 0px;
}

.button {
  align: right;
}

div img {
  display: inline-block;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  align: center;
  font-weight: bold;
}

h2 {
  font-size: 10px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

p {
  text-align: left;
  font-size: 15px;
  color: black;
}

.profilepic {
  width: 50px;
  height: 50px;
  border-bottom: 0px;
  border-radius: 50px;
}

.icon {
  width: 20px;
  height: 20px;
  border-bottom: 0px;
}
.byline {
  text-align: center;
}

.dateline {
  text-align: center;
}
